.header {
    color: #e7e9ea;
}

.header svg {
    fill: #e7e9ea;
}

.header>div:first-child {
    display: flex;
    justify-content: flex-end;
}

.headerContainer {
    position: fixed;
    width: 275px;
    height: 100%;
    top: 0;
    padding-top: 3px;
    overflow-y: auto;
}

.header h1 {
    margin-bottom: 5px;
    width: fit-content;
    border-radius: 100%;
}

.header h1 svg {
    width: 50px;
    height: 30px;
}

.header svg {
    width: 27px;
    height: 27px;
}

.header a,
.nav a,
.nav button {
    height: 50px;
    display: flex;
    align-items: center;
    color: #e7e9ea;
}

.nav button {
    background-color: transparent;
    border: none;
}

.nav a span,
.nav button span {
    margin-right: 16px;
    margin-left: 20px;
    line-height: 24px;
    font-size: 20px;
    font-weight: 400;
}

.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    border-radius: 23px;
    height: 100%;
    padding: 0 12px;
}

.container:hover,
.user:hover,
.header h1:hover {
    background-color: rgba(231, 233, 234, 0.1);
    transition: all .3s;
}

.button {
    width: 80%;
    line-height: 52px;
    margin: 10px 0 0 0;
    justify-content: center;
    font-size: 17px;
    border-radius: 25px;
    font-weight: bold;
    color: #fff;
    background-color: #1d9bf0;
    border: 0;
    cursor: pointer;
}

.user {
    width: 95%;
    height: 65px !important;
    padding: 8px 12px;
    margin: 14px 0;
    border-radius: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: #ddd
}

.userIMG {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0 15px 0 0;
    padding: 0;
}

.userIMG img {
    border-radius: 100%;
    background-color: rgb(51, 54, 57);
}

.user svg {
    width: 25px;
    height: 18px;
}

.userDetails {
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.userDetails>:first-child {
    font-weight: 700;
    margin-bottom: 2px;
    width: 100%;
    text-align: left;
}

.user>svg {
    margin-top: 5px;
}

.nav a.active span,
.nav a.active svg {
    font-weight: 800;
}

.lightText {
    color: #6d6d6d;
}