.detailsPage {
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.detailsPage a,
.detailsPage span {
    font-size: 13px;
    margin: 2px 5px;
    color: rgb(113, 118, 123);
}

.detailsPage a:nth-child(7) {
    display: flex;
    align-items: center;
}

.detailsPage svg {
    width: 17px;
    height: 12px;
    fill: rgb(113, 118, 123);
}