.article {
    padding: 12px 16px;
    border-bottom: 1px solid #2f3336;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.userIMG a {
    width: 40px;
    height: 40px;
    margin-right: 12px;
    position: relative;
    display: block;
}

.userIMG img {
    border: 1px solid #2f3336;
    border-radius: 100%;
    background-color: rgb(51, 54, 57);
}

.postBody {
    width: calc(100% - 54px);

}

.postBody h4 {
    display: inline;
    margin-right: 10px;
}

.postBody h4:hover {
    text-decoration: underline;
}

.postBody span {
    color: #888;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
}

.postBody p {
    margin-top: 5px;
}

.postBody svg {
    float: right;
    width: 18px;
    height: 18px;
    fill: #888;
    border-radius: 100%;
}

.postBody svg:hover {
    background-color: #0a171f;
}

.postBottomIcons {
    width: calc(100% - 54px);
    display: flex;
    justify-content: space-between;
    padding: 16px 0 0 0;
    color: #575757;
    font-size: 13px;
}

.postBottomIcons>div {
    display: flex;
    align-items: center;
}

.postBottomIcons svg {
    width: 30px;
    height: 30px;
    padding: 5px;
    fill: #575757;
    margin-right: 5px;
    border-radius: 50%;
}

.postBottomIcons>div:hover {
    color: #ddd;
    cursor: pointer;
}

.postBottomIcons>div:hover svg {
    background-color: #333;
    fill: #ddd;
}