.aside {
    width: 350px;
    padding: 5px 0;
}

.aside form {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 3px 0 5px;
    background-color: #000;
    margin-bottom: 15px;
    position: sticky;
    top: -1px;
    z-index: 10;
}

.aside form input {
    background: #202327;
    border: 0;
    border-radius: 20px;
    color: #fff;
    font-size: 15px;
    width: 100%;
    height: 45px;
    text-indent: 50px;
    outline: none;
}

.aside form input::placeholder {
    color: rgb(113, 118, 123);
}

.aside form svg {
    width: 44px;
    height: 18px;
    fill: rgb(113, 118, 123);
    position: absolute;
}

.aside>.active input {
    background: #000;
    border: 1px solid rgb(66, 170, 255);
}

.aside>.active>svg {
    fill: rgb(66, 170, 255);
}

.aside form svg:nth-child(2) {
    fill: rgb(29, 155, 240);
    ;
    right: 10px;
    top: 16px;
}

.formBox {
    opacity: 1 !important;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #000;
    box-shadow: 0 0 5px 2px #4d4d4d;
    border-radius: 10px;
    position: absolute;
    top: 47px;
    left: 0;
}

.formBox p {
    color: rgb(113, 118, 123);
    font-size: 15px;
    padding: 20px 0 12px 0;
}

.subscribeBox {
    padding: 12px 16px;
    background-color: #16181c;
    border-radius: 15px;
    margin-bottom: 15px;
}

.subscribeBox p {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 15px;
}

.subscribeBox p:first-child,
.agendaBox h3,
.followBox h3 {
    font-size: 20px;
}

.subscribeBox a {
    background-color: rgb(29, 155, 240);
    width: 98px;
    height: 36px;
    text-align: center;
    display: block;
    line-height: 36px;
    border-radius: 20px;
    font-weight: 700;
}

.agendaBox,
.followBox {
    width: 100%;
    height: auto;
    background-color: #16181c;
    border-radius: 15px;
    margin-bottom: 15px;
}

.agendaBox h3,
.agendaBox ul li a,
.followBox h3,
.followBox ul li a {
    padding: 13px 16px;
}

.agendaBox ul li a {
    width: 100%;
    display: inline-block;
    position: relative;
}

.agendaBox ul li a:hover,
.followBox ul li a:hover {
    background-color: #1d1f23;
}

.agendaBox ul li p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.agendaBox ul li p:nth-child(1),
.agendaBox ul li p:nth-child(3) {
    font-size: 13px;
    color: #6d6d6d;
}

.agendaBox ul li p:nth-child(2) {
    font-weight: 700;
    margin: 5px 0;
    padding-right: 50px;
}

.agendaBox ul li a svg {
    width: 35px;
    height: 35px;
    padding: 8px;
    position: absolute;
    right: 15px;
    top: 12px;
    fill: #71767b;
    border-radius: 50%;
}

.agendaBox ul li a svg:hover {
    background-color: rgba(29, 155, 240, 0.1);
    fill: #5d9edf;
}

.followBoxUserIMG {
    position: relative;
    width: 40px;
    height: 40px;
}

.followBoxUserIMG img {
    border-radius: 50%;
    border: 1px solid #333;
}

.followBox ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.followBox ul li a>div:nth-child(2) {
    width: calc(100% - 50px);
    position: relative;
}

.followBox button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 18px;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
}

.followBox p:nth-child(2) {
    color: #777;
    font-size: 14px;
}

.followBox p:nth-child(1) {
    font-weight: 600;
}

.followBox p:nth-child(1):hover {
    text-decoration: underline;
}

.showMoreButton {
    color: rgb(29, 155, 240);
    padding: 20px;
    display: block;
}

.showMoreButton:hover {
    background-color: #1d1f23;
    border-radius: 0 0 15px 15px;
}

.detailsPage {
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.detailsPage a,
.detailsPage span {
    font-size: 13px;
    margin: 5px;
    color: rgb(113, 118, 123);
}

.detailsPage a:nth-child(7) {
    display: flex;
    align-items: center;
}

.detailsPage svg {
    width: 17px;
    height: 12px;
    fill: rgb(113, 118, 123);
}